<a href="https://colab.research.google.com/github/ambica2698/2024/blob/main/14a_Partition_Table_Ambica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Vertical and Horizontal partitioning  
**Vertical partitioning**: some columns are moved to new tables. Each table contains the same number of rows but fewer columns. A common Primary Key links the tables.  
**Horizontal partitioning**: it divides a table into multiple smaller tables. Each table is a separate data store, and it contains the same number of columns, but fewer rows.   

##### Task  
"/Data/Five_Schools.xlsx" has anonymised student data for diffrent courses from five schools: NCB, KSPP, NID, DSCE, and PES.   
Complete tasks at 1, 2, and 3 below.  
Insert adequate documentation before each code cell.

1. Create a database named "14a_Five_Schools.db"   
   Create a table named "all_students"  
   Insert the data from the spreadsheet.  
   Confirm with queries that the rows in the table are as expected.   
   Display 5 rows with offset 25.

##DOCUMENTATION
sqlite3 is used to fetch data from an SQLite database. pandas is used to load the fetched data into a DataFrame, perform data manipulation, and analyze it. pprint can be used to output any complex data structures in a readable format.*

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import sqlite3 as lite
import os
os.getcwd()

'/content/drive/.shortcut-targets-by-id/1-cLDaFC5lG6M9-wK2IUJwV6UH-qh9i1z/Ambica'

##Documentation
from google collab import drive
,mount the drive and assign a current directory

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/My Drive/Ambica/')
os.getcwd()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

'/content/drive/.shortcut-targets-by-id/1-cLDaFC5lG6M9-wK2IUJwV6UH-qh9i1z/Ambica'

connect to the database if not available itll create new Database

In [ ]:
con=lite.connect('14a_Five_Schools.db')

##DOCUMENTATION

read the excel data
and print every column name in the dataset

In [ ]:
df=pd.read_excel('/content/drive/My Drive/DBMS_Courseware/Data/Five_Schools.xlsx')
df.columns

Index(['School', 'ID', 'Sex', 'Age', 'Home_state', 'Home_town',
       'Mother_tongue', 'Height_cm', 'Weight_Kg', 'BMI', 'Student_ID'],
      dtype='object')

##DOCUMENTATION
con.execute will execute the connected database and check if temp_student table is available
else itll write to temp_students ,

In [ ]:
con.execute('Drop table if exists all_students ')
df.to_sql('all_students',con,index=False)

293

#DOCUMENTATION:

This code prints the label "database properties:" and then queries the database using the "PRAGMA database_list" command to get the list of databases attached to the current SQLite connection. The results of the query will be displayed in a DataFrame format, which can be used for further analysis or debugging.

In [ ]:
sql='''PRAGMA table_info(all_students)'''
pd.read_sql(sql,con)

    cid           name     type  notnull dflt_value  pk
0     0         School     TEXT        0       None   0
1     1             ID  INTEGER        0       None   0
2     2            Sex     TEXT        0       None   0
3     3            Age  INTEGER        0       None   0
4     4     Home_state     TEXT        0       None   0
5     5      Home_town     TEXT        0       None   0
6     6  Mother_tongue     TEXT        0       None   0
7     7      Height_cm     REAL        0       None   0
8     8      Weight_Kg     REAL        0       None   0
9     9            BMI     REAL        0       None   0
10   10     Student_ID     TEXT        0       None   0

select all the data from all_students and shows all the data

In [ ]:
pd.read_sql("select * from all_students ",con)

,School,ID,Sex,Age,Home_state,Home_town,Mother_tongue,Height_cm,Weight_Kg,BMI,Student_ID
0,NCB22,2,M,24,Karnataka,Bengaluru,Kannada,169.0,55.0,19.260000,NCB22_001
1,NCB22,3,M,23,Karnataka,Bengaluru,Kannada,179.0,80.0,24.970000,NCB22_002
2,NCB22,4,F,27,Andhra Pradesh,Chittoor,Telugu,173.0,62.0,20.720000,NCB22_003
3,NCB22,5,F,23,Karnataka,Bengaluru,Kannada,158.0,46.0,18.430000,NCB22_004
4,NCB22,6,M,25,Telangana,Hyderabad,Telugu,170.0,80.0,27.680000,NCB22_005
...,...,...,...,...,...,...,...,...,...,...,...
288,KSP22,13,F,31,Telangana,Hyderabad,Telugu,172.0,72.0,24.337480,KSP22_013
289,KSP22,14,F,21,Uttar Pradesh,Lucknow,Hindi,157.0,47.0,19.067711,KSP22_014
290,KSP22,15,M,24,MP,Burhanpur,Hindi,168.0,73.0,25.864512,KSP22_015
291,KSP22,16,M,22,Telangana,Hyderabad,Telugu,164.0,84.0,31.231410,KSP22_016
292,KSP22,17,F,28,Rajasthan,Jaipur,English,147.0,61.0,28.228979,KSP22_017

2. Create five tables - NCB, KSPP, NID, DSCE, and PES.   
   Partitioning the all_students data horizontally, insert into the appropriate tables.   
   Confirm with queries that the rows in the tables are as expected.

#NCB TABLE

#DOCUMENTATION
 Defines a new NCB table with various columns, data types, and constraints ( PRIMARY KEY, CHECK) and inserts all the data where school=NCB% FROM all_students. this is similar for all the other tables

In [ ]:
sql = '''CREATE TABLE IF NOT EXISTS NCB AS SELECT * FROM all_students WHERE School LIKE 'NCB%' '''
con.execute(sql)

shows the data about the data. how many tables exists and their root page

In [ ]:
pd.read_sql("SELECT * FROM sqlite_master",con)

,type,name,tbl_name,rootpage,sql
0,table,NCB,NCB,9,"CREATE TABLE NCB(\n School TEXT,\n ID INT,\n..."
1,table,KSP,KSP,10,"CREATE TABLE KSP(\n School TEXT,\n ID INT,\n..."
2,table,NID,NID,11,"CREATE TABLE NID(\n School TEXT,\n ID INT,\n..."
3,table,DSC,DSC,12,"CREATE TABLE DSC(\n School TEXT,\n ID INT,\n..."
4,table,PES,PES,15,"CREATE TABLE PES(\n School TEXT,\n ID INT,\n..."
5,table,categorical,categorical,19,CREATE TABLE categorical(\n Student_ID TEXT...
6,index,sqlite_autoindex_categorical_1,categorical,20,None
7,table,numerical,numerical,8,CREATE TABLE numerical (\n Student_ID TEXT ...
8,index,sqlite_autoindex_numerical_1,numerical,27,None
9,table,all_students,all_students,2,"CREATE TABLE ""all_students"" (\n""School"" TEXT,\..."

In [ ]:
sql='''PRAGMA table_info(NCB)'''
pd.read_sql(sql,con)

    cid           name  type  notnull dflt_value  pk
0     0         School  TEXT        0       None   0
1     1             ID   INT        0       None   0
2     2            Sex  TEXT        0       None   0
3     3            Age   INT        0       None   0
4     4     Home_state  TEXT        0       None   0
5     5      Home_town  TEXT        0       None   0
6     6  Mother_tongue  TEXT        0       None   0
7     7      Height_cm  REAL        0       None   0
8     8      Weight_Kg  REAL        0       None   0
9     9            BMI  REAL        0       None   0
10   10     Student_ID  TEXT        0       None   0

In [ ]:
pd.read_sql("select * from NCB",con)

,School,ID,Sex,Age,Home_state,Home_town,Mother_tongue,Height_cm,Weight_Kg,BMI,Student_ID
0,NCB22,2,M,24,Karnataka,Bengaluru,Kannada,169.0,55.0,19.26,NCB22_001
1,NCB22,3,M,23,Karnataka,Bengaluru,Kannada,179.0,80.0,24.97,NCB22_002
2,NCB22,4,F,27,Andhra Pradesh,Chittoor,Telugu,173.0,62.0,20.72,NCB22_003
3,NCB22,5,F,23,Karnataka,Bengaluru,Kannada,158.0,46.0,18.43,NCB22_004
4,NCB22,6,M,25,Telangana,Hyderabad,Telugu,170.0,80.0,27.68,NCB22_005
5,NCB22,7,F,24,Karnataka,Bengaluru,Kannada,165.0,65.0,23.88,NCB22_006
6,NCB22,8,F,23,Karnataka,Bengaluru,Kannada,158.0,51.0,20.43,NCB22_007
7,NCB22,9,F,23,Karnataka,Bengaluru,Urdu,177.0,75.0,23.94,NCB22_008
8,NCB22,10,F,24,Karnataka,Bengaluru,Sankethi,160.0,57.0,22.27,NCB22_009
9,NCB22,11,M,23,Karnataka,Bengaluru,Kannada,181.0,75.0,22.89,NCB22_010
10,NCB22,12,F,26,Karnataka,Bengaluru,Tamil,170.0,65.0,22.49,NCB22_011
11,NCB22,13,M,23,Karnataka,Kolar,Kannada,170.0,55.0,19.03,NCB22_012
12,NCB22,14,F,22,Karnataka,Bengaluru,Kannada,164.0,45.0,16.73,NCB22_013
13,NCB22,15,F,23,Karnataka,Bengaluru,Kannada,158.0,40.0,16.02,NCB22_014
14,NCB22,16,F,23,Karnataka,Thirthahalli,Kannada,170.0,63.0,21.80,NCB22_015
15,NCB22,17,F,24,Karnataka,Bengaluru,Hindi,158.0,60.0,24.03,NCB22_016
16,NCB22,18,F,22,Karnataka,Mysore,Kannada,158.0,75.0,30.04,NCB22_017
17,NCB22,19,F,24,Karnataka,Bengaluru,Gujarati,163.0,52.0,19.57,NCB22_018

#KSPP

In [ ]:
sql = '''CREATE TABLE IF NOT EXISTS KSP AS SELECT * FROM all_students WHERE School LIKE 'KSP%' '''
con.execute(sql)

In [ ]:
pd.read_sql("SELECT * FROM sqlite_master",con)

,type,name,tbl_name,rootpage,sql
0,table,NCB,NCB,9,"CREATE TABLE NCB(\n School TEXT,\n ID INT,\n..."
1,table,KSP,KSP,10,"CREATE TABLE KSP(\n School TEXT,\n ID INT,\n..."
2,table,NID,NID,11,"CREATE TABLE NID(\n School TEXT,\n ID INT,\n..."
3,table,DSC,DSC,12,"CREATE TABLE DSC(\n School TEXT,\n ID INT,\n..."
4,table,PES,PES,15,"CREATE TABLE PES(\n School TEXT,\n ID INT,\n..."
5,table,categorical,categorical,19,CREATE TABLE categorical(\n Student_ID TEXT...
6,index,sqlite_autoindex_categorical_1,categorical,20,None
7,table,numerical,numerical,8,CREATE TABLE numerical (\n Student_ID TEXT ...
8,index,sqlite_autoindex_numerical_1,numerical,27,None
9,table,all_students,all_students,2,"CREATE TABLE ""all_students"" (\n""School"" TEXT,\..."

In [ ]:
sql='''PRAGMA table_info(KSP)'''
pd.read_sql(sql,con)

    cid           name  type  notnull dflt_value  pk
0     0         School  TEXT        0       None   0
1     1             ID   INT        0       None   0
2     2            Sex  TEXT        0       None   0
3     3            Age   INT        0       None   0
4     4     Home_state  TEXT        0       None   0
5     5      Home_town  TEXT        0       None   0
6     6  Mother_tongue  TEXT        0       None   0
7     7      Height_cm  REAL        0       None   0
8     8      Weight_Kg  REAL        0       None   0
9     9            BMI  REAL        0       None   0
10   10     Student_ID  TEXT        0       None   0

In [ ]:
pd.read_sql("select * from KSP",con)

,School,ID,Sex,Age,Home_state,Home_town,Mother_tongue,Height_cm,Weight_Kg,BMI,Student_ID
0,KSP21,1,M,22,Madhya Pradesh,Khirkiya,Hindi,176.0,80.0,25.830000,NID21_018
1,KSP21,2,F,25,West Bengal,Kolkata,Tamil,167.0,67.0,24.020000,KSP21_001
2,KSP21,8,M,25,Jharkhand,Bokaro,Hindi,170.0,61.0,21.110000,KSP21_002
3,KSP21,10,M,33,Uttar Pradesh,Mathura,Hindi,168.0,59.0,20.900000,KSP21_008
4,KSP21,12,M,21,Andhra Pradesh,Visakhapatnam,Hindi,177.0,75.0,23.940000,KSP21_010
5,KSP21,14,M,20,Madhya Pradesh,Barwani,Hindi,187.0,87.0,24.880000,KSP21_012
6,KSP21,17,M,24,Andhra Pradesh,Vijayawada,Telugu,180.0,67.0,20.680000,KSP21_014
7,KSP21,20,F,26,Haryana,Gurgaon,Hindi,167.0,67.0,24.020000,KSP21_017
8,KSP21,21,M,24,Telangana,Khammam,Urdu,170.0,74.0,25.610000,KSP21_020
9,KSP21,22,F,27,Maharashtra,Nashik,Marathi,149.0,52.0,23.420000,KSP21_021
10,KSP21,24,F,24,Karnataka,Mysuru,Kannada,162.0,63.0,24.010000,KSP21_022
11,KSP21,26,M,26,Maharashtra,Pune,Marathi,173.0,64.0,21.380000,KSP21_024
12,KSP21,29,M,31,Bihar,Patna,Hindi,180.0,79.0,24.380000,KSP21_026
13,KSP21,33,M,29,Maharashtra,Mumbai,Konkani,173.0,80.0,26.730000,KSP21_029
14,KSP21,38,F,23,Delhi,New Delhi,Hindi,163.0,59.0,22.210000,KSP21_033
15,KSP21,39,F,26,Maharashtra,Baramati,Marathi,156.0,58.0,23.830000,KSP21_038
16,KSP21,40,M,48,Tamil Nadu,Chennai,Malayalam,178.0,74.6,23.550000,KSP21_039
17,KSP21,41,M,26,Delhi,Palakkad,Malayalam,170.0,68.0,23.530000,KSP21_040
18,KSP21,44,F,32,Andhra Pradesh,Vijayawada,Telugu,168.0,55.0,19.490000,KSP21_041
19,KSP21,45,F,28,West Bengal,Jaigaon,Hindi,168.0,61.0,21.610000,KSP21_044
20,KSP21,47,F,25,Haryana,Kottayam,Malayalam,165.0,73.0,26.810000,KSP21_045
21,KSP21,48,M,23,Andhra Pradesh,Bhimavaram,Telugu,181.0,94.0,28.690000,KSP21_047
22,KSP21,49,F,26,Maharashtra,Pune,Marathi,155.0,65.0,27.060000,KSP21_048
23,KSP22,1,F,33,UP,Noida,Hindi,170.0,73.0,25.259516,KSP22_001
24,KSP22,2,M,24,West Bengal,Barddhaman,Bengali,171.0,72.0,24.622961,KSP22_002
25,KSP22,3,M,25,Uttarakhand,Dehradun,Hindi,172.0,80.0,27.041644,KSP22_003
26,KSP22,4,F,36,Maharashtra,Mumbai,Bengali,157.0,55.0,22.313278,KSP22_004
27,KSP22,5,M,23,Gujarat,Rajkot,Gujarati,172.0,64.0,21.633315,KSP22_005
28,KSP22,6,F,25,Delhi,New Delhi,Hindi,171.0,90.0,30.778701,KSP22_006
29,KSP22,7,M,22,MP,Jabalpur,Hindi,170.0,75.0,25.951557,KSP22_007
30,KSP22,8,M,23,MP,Indore,Hindi,177.0,100.0,31.919308,KSP22_008
31,KSP22,9,M,27,Myanmar,Matupi,Mara,170.0,60.0,20.761246,KSP22_009
32,KSP22,10,F,23,Telangana,Hyderabad,Telugu,155.0,51.0,21.227888,KSP22_010
33,KSP22,11,F,28,Maharashtra,Mumbai,Marathi,156.0,58.0,23.833005,KSP22_011
34,KSP22,12,M,22,Maharashtra,Thane,Marathi,160.0,58.0,22.656250,KSP22_012
35,KSP22,13,F,31,Telangana,Hyderabad,Telugu,172.0,72.0,24.337480,KSP22_013
36,KSP22,14,F,21,Uttar Pradesh,Lucknow,Hindi,157.0,47.0,19.067711,KSP22_014
37,KSP22,15,M,24,MP,Burhanpur,Hindi,168.0,73.0,25.864512,KSP22_015
38,KSP22,16,M,22,Telangana,Hyderabad,Telugu,164.0,84.0,31.231410,KSP22_016
39,KSP22,17,F,28,Rajasthan,Jaipur,English,147.0,61.0,28.228979,KSP22_017

#NID

In [ ]:
sql = '''CREATE TABLE IF NOT EXISTS NID AS SELECT * FROM all_students WHERE School LIKE 'NID%' '''
con.execute(sql)

In [ ]:
pd.read_sql("SELECT * FROM sqlite_master",con)

,type,name,tbl_name,rootpage,sql
0,table,NCB,NCB,9,"CREATE TABLE NCB(\n School TEXT,\n ID INT,\n..."
1,table,KSP,KSP,10,"CREATE TABLE KSP(\n School TEXT,\n ID INT,\n..."
2,table,NID,NID,11,"CREATE TABLE NID(\n School TEXT,\n ID INT,\n..."
3,table,DSC,DSC,12,"CREATE TABLE DSC(\n School TEXT,\n ID INT,\n..."
4,table,PES,PES,15,"CREATE TABLE PES(\n School TEXT,\n ID INT,\n..."
5,table,categorical,categorical,19,CREATE TABLE categorical(\n Student_ID TEXT...
6,index,sqlite_autoindex_categorical_1,categorical,20,None
7,table,numerical,numerical,8,CREATE TABLE numerical (\n Student_ID TEXT ...
8,index,sqlite_autoindex_numerical_1,numerical,27,None
9,table,all_students,all_students,2,"CREATE TABLE ""all_students"" (\n""School"" TEXT,\..."

In [ ]:
sql='''PRAGMA table_info(NID)'''
pd.read_sql(sql,con)

    cid           name  type  notnull dflt_value  pk
0     0         School  TEXT        0       None   0
1     1             ID   INT        0       None   0
2     2            Sex  TEXT        0       None   0
3     3            Age   INT        0       None   0
4     4     Home_state  TEXT        0       None   0
5     5      Home_town  TEXT        0       None   0
6     6  Mother_tongue  TEXT        0       None   0
7     7      Height_cm  REAL        0       None   0
8     8      Weight_Kg  REAL        0       None   0
9     9            BMI  REAL        0       None   0
10   10     Student_ID  TEXT        0       None   0

In [ ]:
pd.read_sql("select * from NID",con)

,School,ID,Sex,Age,Home_state,Home_town,Mother_tongue,Height_cm,Weight_Kg,BMI,Student_ID
0,NID21,1,F,24,Assam,Sorbhog,Assamese,160.0,45.0,17.58,PES22_B_258
1,NID21,3,F,24,Delhi,Delhi,Hindi,158.0,55.0,22.03,NID21_001
2,NID21,4,M,25,Uttar Pradesh,Lucknow,Hindi,170.0,88.0,30.45,NID21_003
3,NID21,5,F,24,Tamil Nadu,Chennai,Tamil,162.0,50.0,19.05,NID21_004
4,NID21,6,F,24,West Bengal,Kolkata,Bengali,165.0,50.0,18.37,NID21_005
5,NID21,7,M,23,Telangana,Hyderabad,Telugu,183.0,77.0,22.99,NID21_006
6,NID21,8,M,26,Maharashtra,Nagpur,Marathi,171.0,76.0,25.99,NID21_007
7,NID21,9,F,25,Karnataka,Bengaluru,Tamil,170.0,58.0,20.07,NID21_008
8,NID21,10,F,23,Kerala,Trisshur,Malayalam,173.0,55.0,18.38,NID21_009
9,NID21,11,M,27,Uttar Pradesh,Mathura,Hindi,167.0,57.0,20.44,NID21_010
10,NID21,12,F,24,Gujarat,Bhavnagar,Gujarati,147.0,47.0,21.75,NID21_011
11,NID21,13,F,23,Delhi,Delhi,Hindi,168.0,52.0,18.42,NID21_012
12,NID21,14,M,22,Maharashtra,Nagpur,Marathi,177.0,56.0,17.87,NID21_013
13,NID21,15,M,24,Tamil Nadu,Tuticorin,Tamil,169.0,46.0,16.11,NID21_014
14,NID21,16,F,24,Maharashtra,Ahmednagar,Marathi,164.0,60.0,22.31,NID21_015
15,NID21,18,F,25,Telangana,Hyderabad,Telugu,172.0,66.0,22.31,NID21_016

#DSC

In [ ]:
sql = '''CREATE TABLE IF NOT EXISTS DSC AS SELECT * FROM all_students WHERE School LIKE 'DSC%' '''
con.execute(sql)

In [ ]:
pd.read_sql("SELECT * FROM sqlite_master",con)

,type,name,tbl_name,rootpage,sql
0,table,NCB,NCB,9,"CREATE TABLE NCB(\n School TEXT,\n ID INT,\n..."
1,table,KSP,KSP,10,"CREATE TABLE KSP(\n School TEXT,\n ID INT,\n..."
2,table,NID,NID,11,"CREATE TABLE NID(\n School TEXT,\n ID INT,\n..."
3,table,DSC,DSC,12,"CREATE TABLE DSC(\n School TEXT,\n ID INT,\n..."
4,table,PES,PES,15,"CREATE TABLE PES(\n School TEXT,\n ID INT,\n..."
5,table,categorical,categorical,19,CREATE TABLE categorical(\n Student_ID TEXT...
6,index,sqlite_autoindex_categorical_1,categorical,20,None
7,table,numerical,numerical,8,CREATE TABLE numerical (\n Student_ID TEXT ...
8,index,sqlite_autoindex_numerical_1,numerical,27,None
9,table,all_students,all_students,2,"CREATE TABLE ""all_students"" (\n""School"" TEXT,\..."

In [ ]:
sql='''PRAGMA table_info(DSC)'''
pd.read_sql(sql,con)

    cid           name  type  notnull dflt_value  pk
0     0         School  TEXT        0       None   0
1     1             ID   INT        0       None   0
2     2            Sex  TEXT        0       None   0
3     3            Age   INT        0       None   0
4     4     Home_state  TEXT        0       None   0
5     5      Home_town  TEXT        0       None   0
6     6  Mother_tongue  TEXT        0       None   0
7     7      Height_cm  REAL        0       None   0
8     8      Weight_Kg  REAL        0       None   0
9     9            BMI  REAL        0       None   0
10   10     Student_ID  TEXT        0       None   0

In [ ]:
pd.read_sql("select * from DSC",con)

,School,ID,Sex,Age,Home_state,Home_town,Mother_tongue,Height_cm,Weight_Kg,BMI,Student_ID
0,DSC21,65,M,23,Karnataka,Bengaluru,Kannada,180.34,68.0,20.91,NCB22_019
1,DSC21,99,M,27,Karnataka,Mysuru,Kannada,175.26,85.0,27.67,DSC21_065
2,DSC21,46,M,23,Karnataka,Bengaluru,Telugu,180.34,78.0,23.98,DSC21_099
3,DSC21,109,M,23,Karnataka,Kunigal,Kannada,180.34,68.0,20.91,DSC21_046
4,DSC21,91,M,22,Karnataka,Sirsi,Kannada,172.72,58.0,19.44,DSC21_109
...,...,...,...,...,...,...,...,...,...,...,...
63,DSC21,71,F,22,Karnataka,Chitradurga,Kannada,167.64,48.0,17.08,DSC21_061
64,DSC21,33,M,23,Karnataka,Chikmagalur,Kannada,167.64,65.0,23.13,DSC21_071
65,DSC21,45,F,23,Karnataka,Bengaluru,Telugu,165.10,52.0,19.08,DSC21_033
66,DSC21,110,F,24,Karnataka,Hasan,Kannada,162.56,64.0,24.22,DSC21_045
67,DSC21,18,F,23,Karnataka,Bengaluru,Kannada,157.48,52.0,20.97,DSC21_110

#PES

In [ ]:
sql = '''CREATE TABLE IF NOT EXISTS PES AS SELECT * FROM all_students WHERE School LIKE 'PES%' '''
con.execute(sql)

In [ ]:
pd.read_sql("SELECT * FROM sqlite_master",con)

,type,name,tbl_name,rootpage,sql
0,table,NCB,NCB,9,"CREATE TABLE NCB(\n School TEXT,\n ID INT,\n..."
1,table,KSP,KSP,10,"CREATE TABLE KSP(\n School TEXT,\n ID INT,\n..."
2,table,NID,NID,11,"CREATE TABLE NID(\n School TEXT,\n ID INT,\n..."
3,table,DSC,DSC,12,"CREATE TABLE DSC(\n School TEXT,\n ID INT,\n..."
4,table,PES,PES,15,"CREATE TABLE PES(\n School TEXT,\n ID INT,\n..."
5,table,categorical,categorical,19,CREATE TABLE categorical(\n Student_ID TEXT...
6,index,sqlite_autoindex_categorical_1,categorical,20,None
7,table,numerical,numerical,8,CREATE TABLE numerical (\n Student_ID TEXT ...
8,index,sqlite_autoindex_numerical_1,numerical,27,None
9,table,all_students,all_students,2,"CREATE TABLE ""all_students"" (\n""School"" TEXT,\..."

In [ ]:
sql='''PRAGMA table_info(PES)'''
pd.read_sql(sql,con)

    cid           name  type  notnull dflt_value  pk
0     0         School  TEXT        0       None   0
1     1             ID   INT        0       None   0
2     2            Sex  TEXT        0       None   0
3     3            Age   INT        0       None   0
4     4     Home_state  TEXT        0       None   0
5     5      Home_town  TEXT        0       None   0
6     6  Mother_tongue  TEXT        0       None   0
7     7      Height_cm  REAL        0       None   0
8     8      Weight_Kg  REAL        0       None   0
9     9            BMI  REAL        0       None   0
10   10     Student_ID  TEXT        0       None   0

In [ ]:
pd.read_sql("select * from PES",con)

,School,ID,Sex,Age,Home_state,Home_town,Mother_tongue,Height_cm,Weight_Kg,BMI,Student_ID
0,PES21,2,F,22,Karnataka,Bengaluru,Kannada,165.0,53.0,19.00,DSC21_018
1,PES21,10,M,24,Karnataka,Tumakuru,Kannada,168.0,58.0,21.00,PES21_002
2,PES21,13,M,25,Karnataka,Belgaum,Kannada,175.0,62.0,20.00,PES21_010
3,PES21,23,M,27,Karnataka,Bengaluru,Kannada,183.0,64.0,19.00,PES21_013
4,PES21,26,F,26,Karnataka,Bengaluru,Kannada,163.0,63.0,24.00,PES21_023
...,...,...,...,...,...,...,...,...,...,...,...
146,PES22_B,326,M,21,Karnataka,Kalaburgi,Bangla,180.0,83.0,25.62,PES22_B_288
147,PES22_B,245,M,23,Karnataka,Udupi,Kannada,180.0,55.0,16.98,PES22_B_326
148,PES22_B,313,M,22,Karnataka,Bengaluru,Kannada,181.0,67.0,20.45,PES22_B_245
149,PES22_B,312,M,24,Karnataka,Mysore,Kannada,185.0,85.0,24.84,PES22_B_313
150,PES22_B,258,M,21,Karnataka,Mysore,Kannada,187.0,82.0,23.45,PES22_B_312

3. Create two tables - categorical and numeric.  
   categorical(Student_ID (PK), School, Sex, Age, Home_state, Home_town, Mother_tongue)  
   numeric(Student_ID (PK), Height_cm, Weight, BMI)  
   Declare data types and CHECKS as appropriate in both the schemas.  
   Partitioning the all_students data vertically, insert into the appropriate tables.  
   With a query, setting relationship on PK, display the first five rows of data gathered from the two tables.

In [ ]:
sql_create_table = """
CREATE TABLE if NOT exists categorical(
    Student_ID TEXT PRIMARY KEY,
    School TEXT,
    Sex TEXT CHECK(Sex IN ('M', 'F')),
    Age INTEGER CHECK(Age < 100),
    Home_Town TEXT,
    Home_State TEXT,
    Mother_Tongue TEXT
);
"""
con.execute(sql_create_table)

In [ ]:
sql_insert_data = """
INSERT OR IGNORE INTO categorical (Student_ID, School, Sex, Age, Home_Town, Home_State, Mother_Tongue)
SELECT Student_ID, School, Sex, Age, Home_Town, Home_State, Mother_Tongue
FROM all_students;
"""
con.execute(sql_insert_data)

In [ ]:
con.commit()

In [ ]:
pd.read_sql("select * from categorical",con)

    Student_ID School Sex  Age   Home_Town      Home_State Mother_Tongue
0    NCB22_001  NCB22   M   24   Bengaluru       Karnataka       Kannada
1    NCB22_002  NCB22   M   23   Bengaluru       Karnataka       Kannada
2    NCB22_003  NCB22   F   27    Chittoor  Andhra Pradesh        Telugu
3    NCB22_004  NCB22   F   23   Bengaluru       Karnataka       Kannada
4    NCB22_005  NCB22   M   25   Hyderabad       Telangana        Telugu
..         ...    ...  ..  ...         ...             ...           ...
288  KSP22_013  KSP22   F   31   Hyderabad       Telangana        Telugu
289  KSP22_014  KSP22   F   21     Lucknow   Uttar Pradesh         Hindi
290  KSP22_015  KSP22   M   24  Burhanpur               MP         Hindi
291  KSP22_016  KSP22   M   22   Hyderabad       Telangana        Telugu
292  KSP22_017  KSP22   F   28      Jaipur       Rajasthan       English

[293 rows x 7 columns]

In [ ]:
con.execute("DROP TABLE IF EXISTS numerical")
sql = """
    CREATE TABLE numerical (
    Student_ID TEXT PRIMARY KEY,
    Height_cm REAL CHECK (Height_cm BETWEEN 100 AND 200),
    Weight_Kg REAL CHECK (Weight_Kg BETWEEN 10 AND 300),
    BMI REAL CHECK (BMI BETWEEN 5 AND 50)
);"""

con.execute(sql)

In [ ]:
sql_insert_data = """
INSERT INTO numerical (Student_ID, Height_cm,Weight_Kg,BMI )
SELECT Student_ID, Height_cm,Weight_Kg,BMI
FROM all_students;
"""

In [ ]:
con.execute(sql_insert_data)

In [ ]:
pd.read_sql("SELECT * FROM numerical",con)

    Student_ID  Height_cm  Weight_Kg        BMI
0    NCB22_001      169.0       55.0  19.260000
1    NCB22_002      179.0       80.0  24.970000
2    NCB22_003      173.0       62.0  20.720000
3    NCB22_004      158.0       46.0  18.430000
4    NCB22_005      170.0       80.0  27.680000
..         ...        ...        ...        ...
288  KSP22_013      172.0       72.0  24.337480
289  KSP22_014      157.0       47.0  19.067711
290  KSP22_015      168.0       73.0  25.864512
291  KSP22_016      164.0       84.0  31.231410
292  KSP22_017      147.0       61.0  28.228979

[293 rows x 4 columns]

In [ ]:
pd.read_sql("SELECT * FROM sqlite_master",con)

,type,name,tbl_name,rootpage,sql
0,table,NCB,NCB,9,"CREATE TABLE NCB(\n School TEXT,\n ID INT,\n..."
1,table,KSP,KSP,10,"CREATE TABLE KSP(\n School TEXT,\n ID INT,\n..."
2,table,NID,NID,11,"CREATE TABLE NID(\n School TEXT,\n ID INT,\n..."
3,table,DSC,DSC,12,"CREATE TABLE DSC(\n School TEXT,\n ID INT,\n..."
4,table,PES,PES,15,"CREATE TABLE PES(\n School TEXT,\n ID INT,\n..."
5,table,categorical,categorical,19,CREATE TABLE categorical(\n Student_ID TEXT...
6,index,sqlite_autoindex_categorical_1,categorical,20,None
7,table,all_students,all_students,2,"CREATE TABLE ""all_students"" (\n""School"" TEXT,\..."
8,table,numerical,numerical,8,CREATE TABLE numerical (\n Student_ID TEXT ...
9,index,sqlite_autoindex_numerical_1,numerical,27,None

In [ ]:
con.commit()

In [ ]:
con.close()